# Main keyword

## 1.Iterable

In [1]:
n = 100
n_iter = iter(n)

TypeError: 'int' object is not iterable

In [2]:
# Checking if it's an iterable data type

try:
    n = 100
    iterator = iter(n)
except TypeError:
    print('Number is not iterable data type.')
else:
    print('Number is iterable data type.')

Number is not iterable data type.

In [4]:
try:
    list1 = [12, 32, 45]
    iterator = iter(list1)
except TypeError:
    print('list1 is not iterable data type.')
else:
    print('list1 is iterable data type.')
finally:
    print('Please fine the solution.')

list1 is iterable data type.
Please fine the solution.

In [15]:
# Build-in function that take iterable data types as parameters 

l1 = [1, 2, 3, 3]
li2= [0, 6, 7, 7]
li3= [9, 0, 1, 8]

In [16]:
all(l1)

True

In [14]:
all(li2)

False

In [10]:
all(li3)

False

In [17]:
# The iter function and the next function

In [20]:
iter_a = iter([12, 323, 453])
next(iter_a) # first index (element) selected and then continue to the next index.

12

In [23]:
# Error
l1 = [12, 34, 45]
next(l1)

TypeError: 'list' object is not an iterator

In [25]:
list1 = [12, 23]
iterator = iter(list1)
next(iterator)
# type(iterator)

12

## Set, Collection of unordered objects

## Defining a set

In [27]:
# Createing an empty set : 
sert0 = set()

# Creating a basic set :
set1 = {1, 2, 3, 4}

# Creating a set from a tuple 
n_tuple = (1, 3, 5, 7)
set2 = set(n_tuple)

# Creating a set from a list :
n_list = [2, 4, 6, 8]
set3 = set(n_list)

In [35]:
set([1, 3, 4, 6, 3, 6, ])

{1, 3, 4, 6}

In [36]:
set("adafdgh")

{'a', 'd', 'f', 'g', 'h'}

In [37]:
h_str = 'HELLO!'
set_str = set(h_str)
set_str

{'!', 'E', 'H', 'L', 'O'}

In [34]:
days_list = ['Monday', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
days_set = set(days_list)
days_set
# output : {'Monday', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'}

fruits_tuple = ('apple', 'orange', 'water melon')
fruits_set = set(fruits_tuple)
fruits_set

{'apple', 'orange', 'water melon'}

## Menbership operators for searching specific elements: in, not in

In [38]:
numbers = {2, 1, 333}
if 1 in numbers :
    print("1 in set")

1 in set

In [39]:
numbers = {1, 2, 444}
if 9 not in numbers :
    print('Not 7 in set')

Not 7 in set

## Accessing sets usinf loops with iterable data type

In [43]:
numbers = {212, 32, 545}
# for i in number :
#     print(i, end = " ")
for i in sorted(numbers) :
    print(i, end = " ")

32 212 545

In [45]:
# Using One-liner loop expression

a = {i for i in 'Apple'}
a

{'A', 'e', 'l', 'p'}

In [46]:
a = {i for i in 'Technology' if i not in 'logy'}
a

{'T', 'c', 'e', 'h', 'n'}

## Built- in function that take a set as a parameter

Function such as : len, max, min, stored, and sum can be used for sets as well.

In [50]:
a_set = {1231, 0, 21, 4404}
all(a_set), any(a_set)

(False, True)

## Set Operator and Method

Different operator and method

In [57]:
# set operator :
s1 = {1, 2, 3, 4, 5, 56}
s2 = {4, 5,  6, 6, 7, 8, 8, 9}

In [58]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 56}

In [59]:
s1 & s2

{4, 5}

In [60]:
s1 - s2

{1, 2, 3, 56}

In [61]:
s1 ^ s2

{1, 2, 3, 6, 7, 8, 9, 56}

In [ ]:
# Set method

s1 = {1, 2, 3, 4, 5, 56}
s2 = {4, 5,  6, 6, 7, 8, 8, 9}

In [62]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 56}

In [63]:
s1.intersection(s2)

{4, 5}

In [64]:
s1.difference(s2)

{1, 2, 3, 56}

In [65]:
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8, 9, 56}

## Using sequential operators

In [67]:
s1 = {1, 2, 3, 4, 5, 56}
s2 = {4, 5,  6, 6, 7, 8, 8, 9}
s3 = {4, 5, 6, 7, 123, 346}

In [68]:
s1 & s2 & s3

{4, 5}

In [69]:
s1.intersection(s2, s3)

{4, 5}

### Various method of sets

In [ ]:
add()
discard()
clear
union()
difference()
intersection()
symmetric_difference()
issubset()
issuperset()
isdisjoint()

## supset method and superset method

In [71]:
# Subset : if every element of set A belongs to another set B, then A is subset of B.

## A = {1, 2}, B = {1, 2, 3}, A is a subset of B

A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
C = {1, 2, 6}

In [76]:
B.issubset(A)

True

In [77]:
C.issubset(A)

False

In [78]:
A.issuperset(C)

False

In [79]:
A.issuperset(B)

True

### Disjoint Method

In [84]:
B = {1, 2, 3}
C = {11, 22, 66}
B.isdisjoint(C)

True

### Cartesian product or cartesian multiplication example

In [86]:
B = {1, 3}
C = {2, 4}
res = set()
for i in B :
    for j in C :
        res = res | {(i, j)}
BxC = res
print("B =", B)
print("C =", C)
print("BxC =", BxC)

B = {1, 3}
C = {2, 4}
BxC = {(3, 2), (1, 2), (3, 4), (1, 4)}

In [88]:
# Example of finding divisors and greatest common divisor of two numbers

num = 20
divisor = []

for i in range(2, num) :
    if num % i == 0 :
        divisor.append(i)
    
print("Proper divisor of", num, " :", divisor)

Proper divisor of 20  : [2, 4, 5, 10]

In [92]:
num1 = 48
divisor1 = set()

for i in range(2, num1) :
    if num1 % i == 0 :
        divisor1.add(i)
print("proper divisor of", num1, " :", divisor1)

num2 = 60 
divisor2 = set()

for i in range(2, num2) :
    if num2 % i == 0:
        divisor2.add(i)
print("Proper divisor of :", num2, " :", divisor2)

proper divisor of 48  : {2, 3, 4, 6, 8, 12, 16, 24}
Proper divisor of : 60  : {2, 3, 4, 5, 6, 10, 12, 15, 20, 30}

In [94]:
print(divisor1.intersection(divisor2))
print("The Common factor of", num1, num2, " :", max(divisor1.intersection(divisor2)))

{2, 3, 4, 6, 12}
The Common factor of 48 60  : 12

## Aggregation using the zip function

In [97]:
# Iterable data types as parameters of zip function 

empty_iterator = zip()
result = set(empty_iterator)
result

set()

In [99]:
a = [10, 20, 30]
b = ('ten', 'twenty', 'thirty')

for val in zip(a, b):
    print(val)

(10, 'ten')
(20, 'twenty')
(30, 'thirty')

In [101]:
str_list = ['hello', 'world', 'python', 'rocks']
int_tuple = (1, 2, 3)
int_list = [400, 500, 600, 700, 800]

my_iterator = zip(str_list, int_tuple, int_list)
print(list(my_iterator))

[('hello', 1, 400), ('world', 2, 500), ('python', 3, 600)]

In [104]:
zip_list = list(zip(str_list, int_tuple, int_list))
a, b, c = zip(*zip_list)
print(a)
print(b)
print(c)

('hello', 'world', 'python')
(1, 2, 3)
(400, 500, 600)

In [102]:
list_str = ['a', 'b', 'hello', 'this']
my_iterator = zip(list_str)
result = set(my_iterator)
print(result)

{('hello',), ('b',), ('this',), ('a',)}