In [6]:
person1 = ['Khel Sopheak', 21, 1, 176.0, 63]
person2 = ['Eam Monyreach', 25, 1, 165.0, 45]
person3 = ['Piseth Mao', 21, 1, 164.0, 60]
person4 = ['Monika Rith', 20, 0, 163.0, 53]

person_list = person1 + person2 + person3 + person4

n_persons = int (len(person_list) / 5)

age = person_list[1::5]
sum_age = sum(age)

average_age = float(sum_age / n_persons)

print('Average age is : ' + str(average_age) + '.')

Average age is : 21.75.

In [8]:
list1 = list(range(1,10))
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
person1 = [10, 20, 30, 40]
10 in person1, 77 in person1

(True, False)

In [1]:
scores = (('Hyun', 88, 95, 90), ('Kang', 85, 90, 95), ('Park', 70, 90, 80), ('Hong', 90, 90, 96))

tup1 = list(scores[0])
tup2 = list(scores[1])
tup3 = list(scores[2])
tup4 = list(scores[3])

average_math = (tup1[2] + tup2[2] + tup3[2] + tup4[2]) / 4
print("'Student's average math score is :", average_math)

'Student's average math score is : 91.25