## 14 Dictionary method

## Mission

In [1]:
## Telephone directory 

tele_dir_dic = {'Chinese Restaurant' : ('010-1234-4500'), 'Japanese Restaurant' : ('010-2230-6540'), 'Western restaurant' : ('010-3232-7788')}
print("Phone number before update :")

for key, value in tele_dir_dic.items() :
    print(key + " :", value)
for key, value in tele_dir_dic.items() :
    adr, review = input('Enter the address and review of ' + key + ': ').split()
    update = (value, adr, review)
    tele_dir_dic[key] = update
    
print("Phone number after update")

for key, value in tele_dir_dic.items() :
    print(key + " :", value)

Phone number before update :
Chinese Restaurant : 010-1234-4500
Japanese Restaurant : 010-2230-6540
Western restaurant : 010-3232-7788
Enter the address and review of Chinese Restaurant: 123 2
Enter the address and review of Japanese Restaurant: 213 1
Enter the address and review of Western restaurant: 242 3
Phone number after update
Chinese Restaurant : ('010-1234-4500', '123', '2')
Japanese Restaurant : ('010-2230-6540', '213', '1')
Western restaurant : ('010-3232-7788', '242', '3')

## Key concept

In [8]:
ph_book = {'Devid Doe':'012-3217-4535', 'Jon smith' : '021-324-5678','Jonh smith' : '021-3214-5678'}

ph_book.items()
for key,value in ph_book.items() :
    print(key + " :", value)

Devid Doe : 012-3217-4535
Jon smith : 021-324-5678
Jonh smith : 021-3214-5678

In [12]:
x = {'a' : 12, 'b' : 21, 'c' : 32}
for i, j in x.items() :
    print(i + " :", j)

a : 12
b : 21
c : 32

In [14]:
y = {'a' : 12, 'b' : 21, 'c' : 32}
for i in y.keys() :
    print(i, end= ' ')

a b c

In [15]:
z = {'a' : 12, 'b' : 21, 'c' : 32}
for i in z.values() :
    print(i, end= ' ')

12 21 32

In [62]:
str1 = ['a', 'b', 'c', 'd', 'c', 'b', 'd', 'b', 'b']
dic = {}
for ch in str1 :
    if ch not in dic.keys() :
        dic[ch] = 0
    dic[ch] += 1
print('alphabet counting :', dic)

alphabet counting : {'a': 1, 'b': 4, 'c': 2, 'd': 2}

In [65]:
str1 = ['a', 'b', 'c', 'd', 'c', 'b', 'd', 'b', 'b']
dic = {}
for ch in str1 :
    dic.setdefault(ch, 0)
    dic[ch] += 1
    print(list(dic.items()))
print('alphabet counting',dic)

[('a', 1)]
[('a', 1), ('b', 1)]
[('a', 1), ('b', 1), ('c', 1)]
[('a', 1), ('b', 1), ('c', 1), ('d', 1)]
[('a', 1), ('b', 1), ('c', 2), ('d', 1)]
[('a', 1), ('b', 2), ('c', 2), ('d', 1)]
[('a', 1), ('b', 2), ('c', 2), ('d', 2)]
[('a', 1), ('b', 3), ('c', 2), ('d', 2)]
[('a', 1), ('b', 4), ('c', 2), ('d', 2)]
alphabet counting {'a': 1, 'b': 4, 'c': 2, 'd': 2}

In [69]:
za = {'a' : 12, 'b' : 21, 'c' : 32}
za.setdefault('f', 50)
print(za)

{'a': 12, 'b': 21, 'c': 32, 'f': 50}

In [73]:
keys = ('a', 'b', 'c', 'd')
x = dict.fromkeys(keys)
x

{'a': None, 'b': None, 'c': None, 'd': None}

In [93]:
xa = dict.fromkeys(keys, 100)
xa

{'a': 100, 'b': 100, 'c': 100, 'd': 100}

## Paper coding

In [2]:
person_dic = {'Last Name' : 'Doe', 'First Name' : 'David', 'Company' : 'Samsung'}
for key, value in person_dic.items() :
    print(key + " :", value)

Last Name : Doe
First Name : David
Company : Samsung

In [19]:
items = {"Coffee drink" : 7, "Pen" : 3, "Paper cup" : 2, "Milk" : 1, "Coke" : 4, "Book" : 5}
ob_name = input("Enter the object : ").capitalize()
print(items[ob_name])

Enter the object : milk
1

In [63]:
student_tup = (('211101', 'David Doe', '010-1234-4500'), ('211102', 'Jonh Smith', '010-2230-6540'), ('211103', 'jane Carter', '010-3232-7788'))

dic = {}
i = 0

for i in student_tup :
    dic.setdefault(i[0], list(i[1:]))

for j in dic.items():
    print(j)

('211101', ['David Doe', '010-1234-4500'])
('211102', ['Jonh Smith', '010-2230-6540'])
('211103', ['jane Carter', '010-3232-7788'])

In [30]:
test_tup1 = ('GFG', 'is', 'best')
test_tup2 = (1, 2, 3)
 

print("The original key tuple is : " + str(test_tup1))
print("The original value tuple is : " + str(test_tup2))
 

if len(test_tup1) == len(test_tup2):
    res = dict(zip(test_tup1, test_tup2))
 
# printing result
print("Dictionary constructed from tuples : " + str(res))

The original key tuple is : ('GFG', 'is', 'best')
The original value tuple is : (1, 2, 3)
Dictionary constructed from tuples : {'GFG': 1, 'is': 2, 'best': 3}

In [55]:
student_tup = (('211101', 'David Doe', '010-1234-4500'), ('211102', 'Jonh Smith', '010-2230-6540'), ('211103', 'jane Carter', '010-3232-7788'))

dic = {}
i = 0

for studentID, name, phone_number in student_tup :
    dic.setdefault(i, {studentID : [name, phone_number]})
    i += 1

for j in dic.values() :
    print(j)

{'211101': ['David Doe', '010-1234-4500']}
{'211102': ['Jonh Smith', '010-2230-6540']}
{'211103': ['jane Carter', '010-3232-7788']}

In [1]:
student_tup = [('211101', 'David Doe', '010-1234-4500'), ('211102', 'Jonh Smith', '010-2230-6540'), ('211103', 'jane Carter', '010-3232-7788')]

for i, j, k in student_tup :
    print(i + " :", j)
student_num = input('Enter the student number :')

print("{} student is {} and phone number is {}".format(i, j, k))

211101 : David Doe
211102 : Jonh Smith
211103 : jane Carter
Enter the student number :x
211103 student is jane Carter and phone number is 010-3232-7788

In [4]:
student_tup = [('211101', 'David Doe', '010-1234-4500'), ('211102', 'Jonh Smith', '010-2230-6540'), ('211103', 'jane Carter', '010-3232-7788')]

for i, j, k in student_tup :
    print(i + " :", j)

211101 : David Doe
211102 : Jonh Smith
211103 : jane Carter