In [5]:
#Variable And Data types Operator
int('1' + '0' + '0' + '0')
print(type(int()))

<class 'int'>

In [9]:
print(int(50) + 50)
print(str(50) + '50')

100
5050

In [12]:
#Change calculator program
money = int(input("Money you put in :"))
price = int(input("Price of goods :"))

change = money - price
print('Change', change)

coin500s = change // 500
change = change % 500
coin100s = change // 100

print('the number of 500 won coins: ', coin500s)
print('the number od 100 won coins: ',coin100s)

Money you put in :5000
Price of goods :300
Change 4700
the number of 500 won coins:  9
the number od 100 won coins:  2

In [20]:
#Python built-in Function

str1 = "FOD"
print(len(str1))

print(type(str1))

print(id(str1))


eval("100 + 200 + 300")

3
<class 'str'>
4407537008

400

In [24]:
#built in function
abs(-200)
#200

min(200, 100, 300, 400)
#100

max(200, 100, 300, 400)
#400

400

In [28]:
#built in function

sorted('SABAB', reverse = True)

['S', 'B', 'B', 'A', 'A']

In [32]:
#Module and import statement
import datetime as dt
start_time = dt.datetime.now()
start_time.replace(month = 7, day = 25)

datetime.datetime(2023, 7, 25, 16, 7, 13, 244763)

In [33]:
from datetime import *
today = date.today()
print(today)

2023-07-25

In [34]:
import datetime
datetime.datetime.now()

datetime.datetime(2023, 7, 25, 16, 15, 10, 585953)

In [35]:
import time
seconds = time.time()
print('Time after epoch =', seconds)

Time after epoch = 1690276724.9467678

In [38]:
import time
#unix_timestamp = time.time()
local_time = time.localtime(time.time())
print(time.strftime('%Y-%m-%d %H-%M-%S', local_time))

2023-07-25 16-24-03

In [43]:
#The math method
import math as m 
m.pow(4,3)

64.0

In [44]:
import math as m
m.fabs(-999)

999.0

In [49]:
import math as m
m.ceil(-2.1)

-2

In [50]:
import math as m
m.ceil(2.1)

3

In [52]:
import math as m
m.floor(2.1)

2

In [53]:
import math as m
m.floor(-2.1)

-3

In [54]:
import math as m
m.log(2.71828)

0.999999327347282

In [57]:
import math as m
m.log(100, 10)

2.0

In [58]:
import math as m
m.sin(90.0)

0.8939966636005579

In [68]:
#Random module
import random as rd
print(rd.random())
print(rd.randrange(0, 10, 2))
print(rd.randint(2, 20))

0.017900095493106116
2
11

In [71]:
import random as rd 

a = list(range(1, 11))
b = rd.sample(a, 4) # random by 4 numbers

print('Random integer from 1 to 10 :', b)

Random integer from 1 to 10 : [7, 9, 4, 10]

In [73]:
#Boolean expresstion
print('result of 10 > 5 :', 10 > 5)

result of 10 > 5 : True

In [1]:
#Conditional statement
x = input("Enter the first integer :")
print('Input data type :', type(x))

Enter the first integer :100
Input data type : <class 'str'>

In [2]:
y = int(input('Enter the first integer :'))
print('Input data type :', type(y))

Enter the first integer :200
Input data type : <class 'int'>

In [14]:
z = input('Enter character : ')

if z.isdigit() == True :
    z = int(z)
    print('z is integer ', type(z))
else :
    z = str(z)
    print('z is not numeric character')

Enter character : sasa
z is not numeric character

In [11]:
pw = 'P@$$word'
put = input(str('Enter password :'))

if put == pw :
    print('Wellcome!')
else :
    print('Wrong password.')

Enter password :P@$$word
Wellcome!

In [16]:
import random as rd

print('Let is start the coin toss game.')
coin = rd.randrange(2)

if coin == 0 :
    print('Front')
else :
    print('Back')
print('Game Over.')

Let is start the coin toss game.
Back
Game Over.

In [19]:
n = int(input("Enter the number :"))

if n >= 0 :
    if n == 0 :
        print("It is 0.")
    else :
        print("It is positive.")
else :
    print("It is negative number.")

Enter the number :-1
It is negative number.

In [23]:
print('#'*50)
num = 200

if num < 0 :
    print( num, "It is negative number")
else :
    print( num, "It is positive number")
    if num  % 2 == 0 :
        print( num, "It is an even number.")
    else :
        print( num, "It is an odd number.")

##################################################
200 It is positive number
200 It is an even number.

## print('$'*80)

print("It is Sopheak is fruit shop.")
print()
print("1: Apple( Price : 12000 riel)")
print("2: Grape( Price : 10000 riel)")
print("3: Water Melon( Price : 4000 riel")
print("4: Orange( Price : 8000 riel)")

total_price = 0
order = int(input("Please enter the number of the items (between 1 and 4) : "))
count = int(input("Please enter the number of items (between 1 and 10)"))
print()

if order == 1 :
    fruit = 'Apple'
    price = 12000
elif order == 2 :
    fruit == 'Grape'
    price == 10000
elif order == 3 :
    fruit == 'Water Melon'
    price == 4000
else :
    fruit = 'Orange'
    price = 8000

print("The fruit you chose is :", fruit)
print("The price of you selected fruit is :", price)
print("The number that you selected is :", count)
print("The total amount is :", price * count, "iel.")

money = int(input("Please put the money in(ex: 12000)>>>"))

if money < price * count :
    print(" Sorry it is not enough money")
else :
    change = money - price * count
    print("Got", money, "riel. And the change is", change, "riel.")